
.Rproj.user/4269F257/sources/prop/23E8E978
.Rproj.user/4269F257/sources/prop/3EF5F36E
.Rproj.user/4269F257/sources/prop/572E0538
.Rproj.user/4269F257/sources/prop/INDEX
.Rproj.user/4269F257/sources/s-20791E21/82C3C569
.Rproj.user/4269F257/sources/s-20791E21/82C3C569-contents
.Rproj.user/4269F257/sources/s-20791E21/BFFBBB91
.Rproj.user/4269F257/sources/s-20791E21/BFFBBB91-contents
.Rproj.user/4269F257/sources/s-20791E21/C3910BD0
.Rproj.user/4269F257/sources/s-20791E21/C3910BD0-contents
.Rproj.user/4269F257/sources/s-20791E21/lock_file
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/4269F25720791E21/chunks.json
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/c04p7fvyjjwi5/000013.csv
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/c0hddnbq98pyo/000015.csv
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/c0hddnbq98pyo/000016.metadata
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/c0hddnbq98pyo/000016.rdf
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/c7753ecpq0dck/00000f.csv
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/ca3ic10hv6rsg/00000f.csv
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/cdupgla6g71yp/000013.csv
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/cdupgla6g71yp/000014.metadata
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/cdupgla6g71yp/000014.rdf
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/chunks.json
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/clgakbwjovzt2/00000f.csv
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/cmz2bfrr61rjc/00000f.csv
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/cpc60enzbkbwj/00000f.csv
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/csetup_chunk/00000f.csv
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/cuk8knd7j6ebe/00000f.csv
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/cw0kuvpa3jtzq/00001b.csv
.Rproj.user/shared/notebooks/8F00E1E9-0_create_new_csv/1/s/cxlduae2r788p/00000f.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
output/f10_Louvre_MIT_1_2017_11.csv
output/f10_Louvre_MIT_1_2017_12.csv
output/f10_Louvre_MIT_1_2018.csv
.Rproj.user/4269F257/sources/per/t/BFFBBB91-contents
.Rproj.user/4269F257/sources/per/t/BFFBBB91
.Rproj.user/4269F257/sources/per/t/82C3C569-contents
.Rproj.user/4269F257/sources/per/t/82C3C569
.Rproj.user/4269F257/saved_source_markers
.Rproj.user/4269F257/rmd-outputs
.Rproj.user/4269F257/pcs/workbench-pane.pper
.Rproj.user/4269F257/pcs/windowlayoutstate.pper
.Rproj.user/4269F257/pcs/source-pane.pper
.Rproj.user/4269F257/pcs/files-pane.pper
.RDataTmp
