:root {
    --white: #fff;
    --black: #032122;
    --grey: #4E5858;
    --grey-subtle: #E7E7E7;
    --ui: #10A3AB;
    --ui-light: #E7F6F7;
    --ui-light-2: #f7feff;
    --ui-dark: #10858C;
    --ui-dark-2: #0e636b;

    --font-text: 'Noto Sans', sans-serif;
    --font-text-serif: 'Noto Serif', serif;
  }

/* Main */
body {
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.375em;
    color: var(--black);
    background: var(--white);
}

h1, h2, h3, h4, h5, h6, p, ul {
    max-width: 680px;
    width: 100%;
    margin: 0 auto 1em auto;
}

h1 {
    color: var(--black);
    font-family: var(--font-text-serif);
    font-weight: 700;
    font-size: 3.5em;
    line-height: 1.16em;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

h2 {
    font-size: 1.375em;
    line-height: 1.5em;
    margin-bottom: 0;
    font-weight: 700;
}

ul {
    padding-left: 0.875em;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
}

/* header */

header {
    text-align: center;
    margin-top: 6em;
}

.description {
    font-weight: 700;
    font-size: 1em;
    line-height: 1.25em;
}

.standfirst {
    font-size: 1.25em;
    line-height: 1.5em;
    text-align: left;
    color: var(--grey);
}

/* body */

.section {
    padding: 6em 0 0;
}

.section:first-of-type {
    padding: 2.5em 0 0;
}

.info {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--ui-light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
    gap: 0.5em;
}

/* legend */
.legend {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 2px 0px;
    gap: 0;
    max-width: 680px;
    width: 100%;
    margin: 0 auto 1em auto;
}

.legend .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.375em;
    margin-right: 1.5em;
}

.legend-blueprint .item-1 path,
.legend-network .item-1 circle,
.legend-network .item-3 path {
    stroke: var(--black);
}

.legend-blueprint .item-2 path {
    fill: #ADADAD;
}

.legend p {
    font-size: 0.875em;
    line-height: 1.57em;
    color: var(--grey);
    margin-bottom: 0;
}

/* NAV */
nav {
    background-color: var(--ui-light);
    padding: 0.5625em 2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid #10a3ab2e;
}

nav a {
    color: var(--ui-dark-2);
    font-weight: 700;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    color: var(--black);
}

/* visuals */
#section-bar .visual,
#section-network .visual,
#section-blueprint .visual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* considerations */
#section-considerations {
    color: var(--grey);
}

/* footer */
footer {
    margin-top: 5.5em;
    padding: 29px 32px 32px;
    background: var(--ui-light);
    color: var(--black);
}

footer a {
    color: var(--black);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
}

footer .lab {
    margin: 1.5em 0 2em;
}

footer p, footer h2 {
    max-width: 100%;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

footer .logo_usl {
    width: 100%;
    max-width: 61px;
}

footer .logo_uni {
    width: 100%;
    max-height: 64px;
}

footer .authors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

footer h2 {
    margin-bottom: 1em;
}

.authors .author {
    font-weight: 700;
    margin-bottom: 0.5em;
}

.authors .position {
    font-weight: normal;
    font-style: italic;
}

.authors .university {
    letter-spacing: 0;
    text-transform: inherit;
    font-weight: normal;
}

/* btn */
.section#end {
    display: flex;
    justify-content: center;
}

.section .btn {
    color: var(--white);
    background-color: var(--ui-dark);
    border: 0;
    border-radius: 2px;
    font-size: 1em;
    font-weight: bold;
}