.sticky {
    position: absolute;
    width: 100%;
    max-width: 1140px;
}

.controls-wrapper {
    justify-content: end;
    display: flex;
    margin-top: 2em;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    gap: 0.6875em;
    margin-left: auto;
    background: var(--white);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.controls form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1em;  
}

label {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0;
}

label.levels {
    padding-left: 1.75em;
}

label.toggleSwitch {
    border-top: 1px solid #F2F2F2;
    padding-top: 1em;
}

form label input {
    height: 1.25em;
    width: 1.25em;
    cursor: pointer;
    padding: 0 !important;
    position: absolute;
    margin-top: 0.05em !important;
}

form label.toggleSwitch span {
    padding: 0 0 0 1.5em;
}

form label span.label_name {
    padding: 0 0 0 0.375em;
}

/* // colors */
form input[type="radio"], form input[type="checkbox"] {
    accent-color: var(--ui);
    background-color: var(--ui);
} 

span.dot {
    margin: 0 0 0 1.7em;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}