.sticky {
    position: absolute;
    width: 100%;
    max-width: 1140px;
}

.non-sticky {
    width: 25%;
}

.controls-wrapper {
    justify-content: end;
    display: flex;
    margin-top: 2em;
    flex-direction: column;
}

/* CONTROLS -- NORMAL */
.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    gap: 0.6875em;
    margin-left: auto;
    background: var(--white);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

/* ACCORDION */
.accordion {
    align-items: flex-start;
    background: var(--white);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: var(--black);
}

.accordion-item {
    width: 100%;
}

.accordion-item:first-of-type, .accordion-button {
    border-top-left-radius: inherit !important;
    border-top-right-radius: inherit !important;
}

.accordion-item:last-of-type, .accordion-button {
    border-bottom-right-radius: inherit !important;
    border-bottom-left-radius: inherit !important;
}

.accordion-button {
    border-radius: 2px;
    background-color: var(--ui-light-2);
    font-weight: bold;
    color: var(--ui-dark-2);
}

.accordion-button:hover, .accordion-button:not(.collapsed):hover {
    color: var(--black);
}
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button {
    border-bottom: 1px solid var(--ui);
}

.accordion-body .small {
    font-size: 0.875em;
}

.accordion-button:not(.collapsed) {
    color: var(--ui-dark-2);
    background-color: var(--ui-light);
    box-shadow: none;
}
/*  COMBINED */

.controls form, .accordion form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1em;  
}

label {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0;
}

label.levels {
    padding-left: 1.75em;
}

label.toggleSwitch, label.toggleHeight {
    border-top: 1px solid #F2F2F2;
    padding-top: 1em;
}

form label input {
    height: 1.25em;
    width: 1.25em;
    cursor: pointer;
    padding: 0 !important;
    position: absolute;
    margin-top: 0.05em !important;
}

form label.toggleSwitch span,
form label.toggleHeight span {
    padding: 0 0 0 1.7em;
}

form label span.label_name {
    padding: 0 0 0 0.375em;
}

/* // colors */
form input[type="radio"], form input[type="checkbox"] {
    accent-color: var(--black);
    background-color: var(--black);
} 

span.dot {
    margin: 0 0 0 1.7em;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* tooltip info */

.btn-info {
    width: 2em;
    height: 2em;
    font-size: 0.875em !important;
    line-height: 100%;
    margin-left: 0.5em;
    border-radius: 2em !important;
    background-color: var(--ui-dark);
}

/* legend */

.controls .legend {
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 1em;
}

.controls .legend .item {
    align-items: flex-start;
    gap: 0.5em;
}

.legend .item .hand {
    padding-top: 0.25em;
}

.toggleHeight {
    width: 100%;
}