#network {
    width: 74%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#network svg {
    margin-top: 2em;
    width: 100%;
    height: auto;
}

.labels_floors {
    text-anchor: middle;
    font-family: var(--font-text);
    font-size: 0.8em;
    font-weight: 700;
}

#network .node_highlight {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

#network .links {
    pointer-events: none;
}

#network .link {
    fill: none;
    mix-blend-mode: multiply;
}

@-moz-document url-prefix() {
    #network .link {
        mix-blend-mode: inherit;
    }
  }

  /* tooltip */

  .tooltip-info {
    /* border: 1px solid black; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 345px;
    padding: 1em 1em 0 1em;
    background-color: var(--black);
    color: var(--white);
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    /* display: none; */
  }

.tooltip-end {
    width: 100%;
    display: flex;
    background-color: none;
    height: 0;
    justify-content: center;
    align-items: center;
    /* justify-content: ; */
}

.tooltip-end .arrow {
    width: 20px;
    height: 20px;
    background-color: var(--black);
    border-radius: 2px;
    transform: rotate(45deg);
}

.tooltip-info span {
    font-weight: 700;
}

.tooltip-hide {
    display: none;
}


.mousedOver {
    stroke: var(--black) !important;
    stroke-width: 3px !important;
    stroke-opacity: 1 !important;
}