#network {
    width: 74%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#network svg {
    margin-top: 2em;
    width: 100%;
    height: auto;
}

.labels_floors {
    text-anchor: middle;
    font-family: var(--font-text);
    font-size: 0.8em;
    font-weight: 700;
}

#network .node_highlight {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

#network .links {
    pointer-events: none;
}

#network .link {
    fill: none;
    mix-blend-mode: multiply;
}

@-moz-document url-prefix() {
    #network .link {
        mix-blend-mode: inherit;
    }
  }