#network svg, #network {
    width: 100%;
    height: 700px;
}

.labels_floors {
    text-anchor: middle;
    font-family: var(--font-text);
    font-size: 0.8em;
    font-weight: 700;
}

.node_highlight {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

.links {
    pointer-events: none;
}